/build/
/out/
/backups/
/firmware/
/secureboot/
/third_party/
/Linux NVIDIA Driver/
/NVIDIA-Linux-*/
**/__pycache__/
*.pyc
*.log
*.rom
*.efi
*.img
*.iso
*.vmdk
*.vhd
*.bin
*.exe
*.dll
*.obj
*.o
*.a
*.pfx
*.pem
*.key
/kernel/font8x16.h
/kernel/nv_vbios_gb203.h
/user/libgui/font_*.h
